.card {
  margin: 20px 20px;
}

.coast_item:hover {
  border-bottom: 2px solid #fc5a5a;
}
.coast_list {
  word-wrap: normal;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: -16px;
  margin-top: 0;
}

.coast_item {
  flex-basis: auto;
  text-align: center;
  width: 240px;
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 16px;
  border: 1px solid grey;
}
.img_coast {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  height: 200px;
}
.titel {
  font-size: 24px;
}
