.ImageGallery {
  display: grid;
  max-width: calc(100vw - 480px);
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 25px 40px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px 80px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}
